* {
  text-align: center;
  font-weight: large;
  color: green;
}

#jokebox {
  margin: auto;
  border: 1px solid black;
  padding: 2%;
  border-radius: 10px;
}
#next {
  margin-top: 5%;
  padding: 1%;
}
#next:active{
    color: red;
    border-radius: 10px;
    transform: scale(1.1);
    border-color: red;
}
